# Compiled Object files
*.o
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.a
*.la
*.lib

# Executables
*.exe
*.out

# Editors
.vscode

# build-in-source directory
build/

# JetBrains IDE
.idea/
cmake-build*/

# Python virtualenv
.venv/

# Python cache
__pycache__/
