# Compiled Object files
*.o
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editors
.vscode

# build-in-source directory
build/

# documentation artifacts
_build/
_images/
_static/
_templates/
_toc.yml
_doxygen/

# JetBrains IDE
.idea/
cmake-build*/

# Python virtualenv
.venv/

# Python cache
__pycache__/
